[ctrl_panel]
HideTabs=false
OpenViews=q4system.desktop
SavedWidth=170
ShowExtraButtons=false
ShowTabsLeft=true
SingleWidgetMode=true

[filemanagement]
HideTabs=false
OpenViews=q4system.desktop
SavedWidth=170
ShowExtraButtons=false
ShowTabsLeft=true
SingleWidgetMode=true

[webbrowsing]
HideTabs=true
OpenViews=history.desktop
SavedWidth=170
ShowExtraButtons=false
ShowTabsLeft=true
SingleWidgetMode=false
