[Desktop Entry]
Icon=trashcan_full
EmptyIcon=trashcan_empty
Type=Link
URL=trash:/
Comment[es]=Basura
Comment[es_AR]=Papelera
Comment[hu]=Szemetes
Comment[it]=Cestino
Comment[nl]=Prullenbak
Comment[pl]=Kosz
Comment[pt]=Lixo
Comment[pt_BR]=Lixo
Comment[ru]=Корзина
Comment=Trash
Encoding=UTF-8
Name[es]=Basura
Name[es_AR]=Papelera
Name[hu]=Szemetes
Name[it]=Cestino
Name[nl]=Prullenbak
Name[pl]=Kosz
Name[pt]=Lixo
Name[pt_BR]=Lixo
Name[ru]=Корзина
Name=Trash
X-Trinity-BuiltIn=true
