[Desktop Entry]
Icon=computer
Name[de]=System
Name[es]=Sistema
Name[es_AR]=Sistema
Name[hu]=Rendszer
Name[it]=Sistema
Name[nl]=Systeem
Name[pl]=System
Name[pt]=Sistema
Name[pt_BR]=Sistema
Name[ru]=Система
Name=System
Open=false
Type=Link
URL=system:/
X-TDE-KonqSidebarModule=konqsidebar_tree
X-TDE-TreeModule=Directory
X-TDE-TreeModule-ShowHidden=false
